# babel
.babelrc
.babelrc.js
babel.config.js

# eslint
.eslintrc
.eslintrc.js
.eslintrc.json

# git
.github
.gitignore
.gitattributes
**/.gitkeep

# testing
.nyc_output
coverage
cypress
cypress.config.ts
horusec-config.json

# builds
tsconfig.json
tsconfig.tsbuildinfo
rollup.config.mjs

# package src
pnpm-lock.yaml
src

.npmrc